<hr/>
<div>
{{ model.getAction().uuid }} | {{ model.getAction().action }} | {{ model.getAction().options | json }}
</div>
<div>
    <span>{{ model.state }}</span> |
    <span>{{ model.rowcount }} rows</span> |
    <span *ngIf="model.schema">{{ model.schema.length }} columns</span> |
    <span *ngIf="model.prev && model.prev.schema">(prev: {{ model.prev.schema.length }} columns)</span>
</div>
Got:
<div>
    <app-result-table [rows]="model.rows" [schema]="model.schema"></app-result-table>
</div>
<hr/>
