table {
    max-height: 200px;
    display: block;
    overflow-y: scroll;
}

td.error {
    background: lightcoral;
}

.rowcount {
    display: inline;
    border: #444 solid 3px;
    //padding: 0px;
    //margin-right: 3px;
    //padding-bottom: 3px;
    cursor: pointer;

    &.pending {
        border-style: dotted;
    }
}

.clicker {
    display: block;
    //position: relative;
    //left: -100px;
    //top: 20px;
    margin-bottom: -17px;
    margin-top: -3px;
}