<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-3  header">
            <h1 class="display-4">DPP UI</h1>
            <span class="lead">
                Let's wrangle some data!.
            </span>
        </div>
        <div class="col hero">
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                {{errorMessage}}
            </div>
            <app-steps-container></app-steps-container>
        </div>
    </div>
</div>
