<div class="row">
  <div class="col step-ui">

    <div class="card border-dark mb-3">
      <div class="card-header">What's next?</div>
      <div class="card-body text-dark">
        <div>
          <button (click)="addUrl()" *ngIf="state()=='init'">Add URL</button>
          <button (click)="addSkip()" *ngIf="state()=='layout'">Add Skip</button>
          <button (click)="addHeaders()" *ngIf="state()=='layout'">Looks Good</button>
          <button (click)="addFilter()" *ngIf="state()=='processing'">Add Filter</button>
          <button (click)="addSchema()" *ngIf="state()=='processing'">Add Schema</button>
          <button (click)="addNop()">Add NOP</button>
        </div>
      </div>
    </div>
  </div>
</div>

